
  ul {
    padding: 0px 0px 0px 10px;
  }
  
  /* product window */
  .product {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 4fr 1fr;
    height: fit-content;
    max-height: 500px;
    width: 350px;
    color: #223843;
    border-radius: 10px;
    margin: 25px auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 1px rgba(75, 75, 78, 0.2);
  }
  
  /* upper part of product window */
  
  .product > .product-image-container {
    max-width: 100%;
    grid-row: 1/2;
    padding: 2px 2px;
  }
  
  .product > .product-information-container {
    max-width: 100%;
    height: auto;
    grid-row: 2/2;
    padding: 25px 45px;
  }
  
  .product .name-of-product {
    font-size: 25px;
    font-weight: lighter;
  }
  
  /* lower part of product window */
 .product .price-container {
    font-weight: lighter;
  }
  
 .product .add-to-cart-button {
    font-weight: lighter;
    color: #06f;
    margin-left: 45px;
    border: 1px solid lightblue;
    padding: 5px 5px;
    border-radius: 7px;
    cursor: pointer;
    background: transparent;
  }
  
 .product .add-to-cart-button:hover {
    color: #ffffff;
    background-color: #06f;
  }
  
  