.container {
    display: flex;
    /* padding: 10px 10px; */
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50vh;
    width: 95%;
  }
  
  ul {
    padding: 0px 0px 0px 10px;
  }
  
  /* product window */
  .li {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 4fr 1fr;
    height: fit-content;
    max-height: 500px;
    width: 350px;
    color: #223843;
    border-radius: 10px;
    margin: 25px auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px 1px rgba(75, 75, 78, 0.2);
  }
  
  /* upper part of product window */
  
  .container > .li > .prod-row1 {
    max-width: 100%;
    grid-row: 1/2;
    padding: 2px 2px;
  }
  
  .container > .li > .prod-row2 {
    max-width: 100%;
    height: auto;
    grid-row: 2/2;
    padding: 25px 45px;
  }
  
  .container > .li .title {
    font-size: 25px;
    font-weight: lighter;
  }
  
  /* lower part of product window */
  .container .li .price {
    font-weight: lighter;
  }
  
  .container .li .add-to-cart {
    font-weight: lighter;
    color: #06f;
    margin-left: 45px;
    border: 1px solid lightblue;
    padding: 5px 5px;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .container .li .add-to-cart:hover {
    color: #ffffff;
    background-color: #06f;
  }
  
  