body {
  font-family: "Circular Std Book", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  margin-top: -16px;
  background-color: #eff1f3;
}

header {
  background-color: #ffffff;
  height: 110px;
  color: #000000;
  width: 100%;
  position: fixed;
  text-align: start;

  line-height: 120px;

  padding: 0px 80px 0px 80px;
  z-index: 2;
  font-size: 22px;

  display: flex;
  justify-content: flex-start;

  box-shadow: 0px 3px 6px 1px rgba(75, 75, 78, 0.2);
}
.checkout {
  margin-left: auto;
  margin-right: 200px;
  font-weight: lighter;
  cursor: pointer;
}
.logo {
  display: flex;
  direction: column;
  align-items: center;
  padding-right: 10px;
  margin-left: 50px;
}

#up {
  position: absolute;
  width: 100%;
  height: 120vh;
  background-color: #f5f5f5;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  z-index: -1;
}

#down {
  position: absolute;
  width: 100%;
  height: 40vh;
  background-color: #f5f5f5;
  -webkit-clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  z-index: -1;
  margin-top: 0.1%;
}

.description-grid {
  display: grid;
  grid-template-columns: 5fr 5fr;
  margin: 0 20%;
}

.col1 {
  margin-top: 250px;
}

.col1 > #row1 {
  font-size: 80px;
}
.col1 > #row2 {
  font-size: 30px;
  font-weight: lighter;
}

.col2 {
  margin-top: 250px;
  padding: 10% 10% 40% 10%;
}

.col2 > #pic1 {
  position: absolute;
}
.col2 > #pic2 {
  position: absolute;
  margin-left: 150px;
  margin-top: -20px;
}

section > a {
  position: absolute;
  top: 90%;
  left: 50%;
}
section > a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(105, 105, 105);
  border-bottom: 1px solid rgb(105, 105, 105);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll-properties 2s infinite;
  animation: scroll-properties 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  /* z-index: 1; */
}
section > a > span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
section > a > span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
section > a > span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes scroll-properties {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-properties {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#catch-scroll {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 100%;
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.line {
  width: 1px;
  height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.inner {
  position: absolute;
  width: 10%;
  height: 85%;
  background: grey;
  top: 10%;
  box-shadow: 0px 0px 30px 20px grey;
}

.container {
  display: flex;
  /* padding: 10px 10px; */
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50vh;
  width: 95%;
}

ul {
  padding: 0px 0px 0px 10px;
}

/* product window */
.li {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 4fr 1fr;
  height: fit-content;
  max-height: 500px;
  width: 350px;
  color: #223843;
  border-radius: 10px;
  margin: 25px auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px 1px rgba(75, 75, 78, 0.2);
}

/* upper part of product window */

.container > .li > .prod-row1 {
  max-width: 100%;
  grid-row: 1/2;
  padding: 2px 2px;
}

.container > .li > .prod-row2 {
  max-width: 100%;
  height: auto;
  grid-row: 2/2;
  padding: 25px 45px;
}

.container > .li .title {
  font-size: 25px;
  font-weight: lighter;
}

/* lower part of product window */
.container .li .price {
  font-weight: lighter;
}

.container .li .add-to-cart {
  font-weight: lighter;
  color: #06f;
  margin-left: 45px;
  border: 1px solid lightblue;
  padding: 5px 5px;
  border-radius: 7px;
  cursor: pointer;
}

.container .li .add-to-cart:hover {
  color: #ffffff;
  background-color: #06f;
}

/* cart button properties */

:root {
  --cd-color-1: hsl(210, 31%, 24%);
  --cd-color-1-h: 210;
  --cd-color-1-s: 31%;
  --cd-color-1-l: 24%;
  --cd-color-2: hsl(204, 73%, 52%);
  --cd-color-2-h: 204;
  --cd-color-2-s: 73%;
  --cd-color-2-l: 52%;
  --cd-color-3: hsl(0, 0%, 100%);
  --cd-color-3-h: 0;
  --cd-color-3-s: 0%;
  --cd-color-3-l: 100%;
  --cd-color-4: hsl(192, 15%, 94%);
  --cd-color-4-h: 192;
  --cd-color-4-s: 15%;
  --cd-color-4-l: 94%;
  --cd-color-5: hsl(7, 80%, 56%);
  --cd-color-5-h: 7;
  --cd-color-5-s: 80%;
  --cd-color-5-l: 56%;
}
.cd-cart::before {
  content: "";
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}
.cd-cart--open::before {
  opacity: 1;
  visibility: visible;
}

.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
}
@media (min-width: 80rem) {
  .cd-cart__trigger,
  .cd-cart__content {
    bottom: 40px;
  }
}
.cd-cart__trigger {
  z-index: 3;
  height: 72px;
  width: 72px;
  overflow: visible;
}
.cd-cart__trigger::after,
.cd-cart__trigger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  width: 100%;
  background: url(./assets/img/cd-icons-cart-close.svg) no-repeat 0 0;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
}
.cd-cart__trigger::after {
  background-position: -72px 0;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cd-cart--open .cd-cart__trigger::before {
  opacity: 0;
}
.cd-cart--open .cd-cart__trigger::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cd-cart--open .cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}
.cd-cart__count {
  position: absolute;
  top: -2vmin;
  right: -0.5vmin;
  height: 2vmin;
  width: 1vmin;
  background: hsl(7, 80%, 56%);
  background: var(--cd-color-5);
  color: hsl(0, 0%, 100%);
  color: var(--cd-color-3);
  font-size: 0.83333em;
  font-size: var(--text-sm);
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  transition: -webkit-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s, -webkit-transform 0.2s 0.5s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-cart__count li {
  position: absolute;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
}
.cd-cart__count li:last-of-type {
  visibility: hidden;
}
.cd-cart__count--update li:last-of-type {
  -webkit-animation-name: cd-qty-enter;
  animation-name: cd-qty-enter;
}
.cd-cart__count--update li:first-of-type {
  -webkit-animation-name: cd-qty-leave;
  animation-name: cd-qty-leave;
}
.cd-cart--open .cd-cart__count {
  transition: -webkit-transform 0.2s 0s;
  transition: transform 0.2s 0s;
  transition: transform 0.2s 0s, -webkit-transform 0.2s 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.cd-cart--empty .cd-cart__count {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.cd-cart__content {
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}
.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 0.5em;
  transition: height 0.4s 0.1s, width 0.4s 0.1s, box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: hsl(0, 0%, 100%);
  background: var(--cd-color-3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cd-cart--open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}
.cd-cart__header,
.cd-cart__body {
  opacity: 0;
  padding-left: 0.825em;
  padding-right: 0.825em;
}
.cd-cart--open .cd-cart__header,
.cd-cart--open .cd-cart__body {
  opacity: 1;
}
.cd-cart__header {
  position: relative;
  z-index: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.25em 0.25em 0 0;
  height: 40px;
  line-height: 40px;
  background-color: hsl(0, 0%, 100%);
  transition: opacity 0.2s 0s;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}
.cd-cart__header h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.5em;
  font-weight: 700;
  letter-spacing: 0.1em;
}
.cd-cart--open .cd-cart__header {
  transition: opacity 0.2s 0.2s;
}
.cd-cart__undo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  color: hsl(210, 31%, 28.8%);
  font-size: 0.69444em;
  margin-right: 3vmin;
}
.cd-cart__undo a {
  text-decoration: underline;
  color: hsl(210, 31%, 24%);
}
.cd-cart__undo a:hover {
  color: hsl(204, 73%, 52%);
}
.cd-cart__undo--visible {
  opacity: 1;
  visibility: visible;
}
.cd-cart__body {
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-top: 0.75em;
  padding-top: var(--space-sm);
  padding-bottom: 0.75em;
  padding-bottom: var(--space-sm);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s;
}
.cd-cart__body ul {
  position: relative;
  padding-bottom: 60px;
}
@media (min-width: 64rem) {
  .cd-cart__body ul {
    padding-bottom: 90px;
  }
}
.cd-cart--open .cd-cart__body {
  transition: opacity 0s;
}
.cd-cart--open .cd-cart__body li {
  transition: opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s,
    -webkit-transform 0.3s 0.2s;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.cd-cart--open .cd-cart__body li:nth-of-type(2) {
  transition-duration: 0.4s;
}
.cd-cart--open .cd-cart__body li:nth-of-type(3) {
  transition-duration: 0.5s;
}
.cd-cart--open .cd-cart__body li:nth-of-type(4),
.cd-cart--open .cd-cart__body li:nth-of-type(5) {
  transition-duration: 0.55s;
}
.cd-cart__product {
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s;
  transition: opacity 0s 0.2s, transform 0s 0.2s;
  transition: opacity 0s 0.2s, transform 0s 0.2s, -webkit-transform 0s 0.2s;
  display: -ms-flexbox;
  display: flex;
}
.cd-cart__product:not(:last-of-type) {
  margin-bottom: 12px;
}
.cd-cart__product a {
  text-decoration: none;
}
.cd-cart__product--deleted {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-animation: cd-item-slide-out 0.3s forwards;
  animation: cd-item-slide-out 0.3s forwards;
}
.cd-cart__product--deleted.cd-cart__product--undo {
  -webkit-animation: cd-item-slide-in 0.3s forwards;
  animation: cd-item-slide-in 0.3s forwards;
}
.cd-cart__product--deleted + .cd-cart__product {
  -webkit-animation: cd-item-move-up-mobile 0.3s;
  animation: cd-item-move-up-mobile 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (min-width: 64rem) {
  .cd-cart__product--deleted + .cd-cart__product {
    -webkit-animation: cd-item-move-up 0.3s;
    animation: cd-item-move-up 0.3s;
  }
}
.cd-cart__product--undo + .cd-cart__product {
  -webkit-animation: cd-item-move-down-mobile 0.3s;
  animation: cd-item-move-down-mobile 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@media (min-width: 64rem) {
  .cd-cart__product--undo + .cd-cart__product {
    -webkit-animation: cd-item-move-down 0.3s;
    animation: cd-item-move-down 0.3s;
  }
}
.cd-cart__image {
  display: inline-block;
  width: 20%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.cd-cart__image img {
  display: block;
  width: 100%;
}
@media (min-width: 64rem) {
  .cd-cart__image {
    width: 20%;
  }
}
.cd-cart__details {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 0.6em;
}
.cd-cart__details h3 {
  font-weight: bold;
  width: 70%;
  font-size: 0.95833em;
}
.cd-cart__details h3 a {
  color: hsl(210, 31%, 24%);
}
.cd-cart__details h3 a:hover {
  color: hsl(204, 73%, 52%);
}
.cd-cart__price {
  width: 30%;
  text-align: right;
  font-size: 0.91666em;
  font-weight: bold;
  line-height: 100%;
  text-align: center;
}
.cd-cart__actions {
  display: -ms-flexbox;
  display: flex;
  font-size: 0.76388em;
}
.cd-cart__delete-item,
.cd-cart__quantity {
  color: hsl(210, 31%, 28.8%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-cart__delete-item {
  margin-right: 0.75em;
}
.cd-cart__delete-item:hover {
  color: hsl(7, 80%, 56%);
}
.cd-cart__quantity {
  display: -ms-flexbox;
  display: flex;
}
.cd-cart__quantity label {
  margin-right: 0.375em;
}
.cd-cart__select {
  position: relative;
}
.cd-cart__select select {
  position: relative;
  padding: 0 1.25em 0 0;
  cursor: pointer;
  color: currentColor;
}
.cd-cart__select select:focus {
  outline: none;
  color: hsl(210, 31%, 24%);
  box-shadow: 0 1px 0 currentColor;
}
.cd-cart__select select::-ms-expand {
  display: none;
}
.cd-cart__select .icon {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  color: currentColor;
  pointer-events: none;
}
@media (min-width: 64rem) {
  .cd-cart__select select {
    padding-right: 0.75em;
    padding-right: var(--space-sm);
  }
}
.cd-cart__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 0.25em 0.25em;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: hsl(0, 0%, 100%);
}
.cd-cart__checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: hsl(204, 73%, 52%);
  color: hsla(0, 0%, 100%, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  transition: all 0.2s 0s;
}
.cd-cart__checkout:hover {
  background: hsl(204, 73%, 56.16%);
}
.cd-cart__checkout em {
  position: relative;
  display: inline-block;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  transition: -webkit-transform 0s 0.2s;
  transition: transform 0s 0.2s;
  transition: transform 0s 0.2s, -webkit-transform 0s 0.2s;
}
.cd-cart__checkout .icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -10%;
  height: 40%;
  width: 30%;
  opacity: 0;
  transition: opacity 0.2s;
  color: currentColor;
}
.cd-cart--open .cd-cart__checkout {
  color: hsl(0, 0%, 100%);
  transition: color 0.2s 0.3s;
}
.cd-cart--open .cd-cart__checkout em {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: padding 0.2s 0s, -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, padding 0.2s 0s;
  transition: transform 0.2s 0.3s, padding 0.2s 0s, -webkit-transform 0.2s 0.3s;
}
.cd-cart--open .cd-cart__checkout:hover em {
  padding-right: 30px;
}
.cd-cart--open .cd-cart__checkout:hover .icon {
  opacity: 1;
}
@-webkit-keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
}
@-webkit-keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
  }
}
@-webkit-keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 62px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 62px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-up {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 0px;
  }
}
@-webkit-keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 62px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 62px;
  }
}
@-webkit-keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 102px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 102px;
  }
}
@-webkit-keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-out {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@-webkit-keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    opacity: 0;
  }
}

.cd-main h1 {
  color: hsl(210, 31%, 24%);
  color: var(--cd-color-1);
}
.cd-add-to-cart,
.cd-article-link {
  display: inline-block;
  padding: 0.75em 1.25em;
  border-radius: 50em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 0.83333em;
  transition: all 0.2s;
}
.cd-add-to-cart {
  background: hsl(204, 73%, 52%);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-add-to-cart:hover {
  background: hsl(204, 73%, 57.2%);
}
.cd-add-to-cart:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.cd-article-link {
  color: hsl(210, 31%, 24%);
  background-color: hsl(192, 15%, 84.6%);
}
.cd-article-link:hover {
  background-color: hsl(192, 15%, 89.3%);
}
