body {
  font-family: sans-serif;
  margin: 0;
  margin-top: -16px;
  background-color: #f5f5f5;
}

.header {
  background-color: #b84a62;
  height: 100px;
  color: white;

  /* workaround to get the text sprinklr mart in center  */
  text-align: center;
  line-height: 100px;
}

.container {
  display: flex;
  padding: 10px 10px;
  margin: 10px 10px;
  flex-wrap: wrap;
}

ul {
  padding: 0px 0px 0px 10px;
}

/* product window */
.li {
  border: 0.1px solid #b84a62;
  padding: 20px 20px;
  height: 100px;
  width: 100px;
  color: #4d4d4d;
  border-radius: 4px;
}
.li:hover {
  opacity: 0.5;
  background-color: #666666;
}

/* upper part of product window */
.container .li .title {
  margin: 2px 0px;
}

/* lower part of product window */
.container .li .info {
  height: 50px;
  font-size: 11px;
  padding: 3px 0px;
}
